body{
    margin: 0px;
    padding: 0px;
    background-image: url(img/gym.jpg);
    background-repeat: no-repeat ;
    height: 100%;
}
.left{
    position: absolute;
    top: 9px;
    left: 20px;
    display: inline-block;
    color: bisque;
    margin: 5px;
}

.left img{
    width: 113px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
}
.left div{
    font-family: 'BIZ UDGothic', sans-serif;
    text-align: center;
    margin: 5px;
}
.mid{
    display:block;
    width: 500px;
    margin: 14px auto ;
    color: beige;
    font-family: 'BIZ UDGothic', sans-serif;
    font-size: 20px;
}
.right{
    position: absolute;
    top: 36px;
    right: 20px;
    display: inline-block;
    margin: 5px;
    color: beige;
    
}
.btn:hover{
    background-color:black;
    color: white;
    cursor: pointer;
}
.right .btn{
    background-color: beige;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px 13px;
    font-family: 'BIZ UDGothic', sans-serif;
}
.navbar{
    display: inline-block;
    width: 500px;
}
.navbar li a:hover, .navbar li a :active{
    background-color: darkgray;
    color: black;
    text-decoration: underline;
}
.navbar ul{
    color: beige;
}
.navbar li{
    display: inline-block;
    padding: 10px;
}
.navbar li a{
    color: beige;
    text-decoration: none;
    padding: 5px;
}
.login{
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    margin: 70px 20px 30px 70px;
}
h1{
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
}
.login input{
    margin: 5px auto;
    padding: 6px;
    display: block;
    width: 350px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: beige;
    color: black;
}
.login button{
    display: block;
    width: 88%;
    margin: auto;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
}


